:root {
    --bg-color: #F8FBFA;
    --secondary-color: #b1bbc8;
    --text-color: #1d3a5f;
    --blue-active: #1877f2;
    --content-color: #566b87;
    --border-color: rgb(245, 245, 245);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    color: var(--text-color);
    text-decoration: none; 
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgb(189, 189, 189);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #666464;
}

.wrapper {
    position: relative;
}

.image-40 {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 12px;
    user-select: none;
}

.image-34 {
    width: 34px;
    height: 34px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
    user-select: none;
}

.header {
    background-color: #fff;
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 0 20px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.05);
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    flex: 1;
    display: flex;
    align-items: center;
}

.nav-left a img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    user-select: none;
}

.nav-center {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 1;
}

.nav-center input {
    width: 100%;
    padding: 10px 36px;
    border: none;
    outline: none;
    background: var(--bg-color);
    border-radius: 30px;
    font-size: 15px;
}

.nav-center i {
    position: absolute;
    top: translateY(50%);
    left: 11px;
    color: var(--secondary-color);
    font-size: 15px;
}

.nav-center .search-list {
    width: 100%;
    background-color: var(--bg-color);
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: calc(100% + 10px);
    border-radius: 8px;
    padding: 10px;
    flex-direction: column;
    display: none;
}

.nav-center .search-list .user-search {
    padding: 8px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
    transition-delay: 0.05s;
}

.nav-center .search-list .user-search:hover {
    background-color: #fff;
}

.nav-center .search-list .user-search span {
    font-weight: 600;
    font-size: 15px;
}

.nav-right {
    flex: 1;
    align-self: right;
}


.user-group {
    display: flex; 
    align-items: center; 
    justify-content: right; 
    z-index: 10;
}

.user-group a {
    display: flex;
    align-items: center;
}

.user-group img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    user-select: none;
}

.user-group .dropdown {
    border-radius: 50%;
    padding: 10px 17px;
    margin-left: 8px; 
    cursor: pointer;
    position: relative;
    user-select: none;
    z-index: 10;
}

.dropdown.active {
    background-color: var(--bg-color);
}

.dropdown.active .dropdown-menu {
    display: block;
}

.dropdown .dropdown-menu {
    display: none;
    background-color: #fff;
    padding: 6px;
    position: absolute;
    width: 240px;
    left: calc(100% - 240px);
    border-radius: 3px;
    top: calc(100% + 12px) !important;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.05);
    transition: 0.3s !important;
    transition-delay: 0.1s;
    overflow: hidden;
    cursor: auto;   
    z-index: 99;
}

.dropdown .dropdown-menu li {
    display: flex;
    align-items: center;
    padding: 12px 18px;
    transition: ease-in-out 0.2s;
    transition-delay: 0.05s;
    cursor: pointer;
    border-radius: 3px;
}

.dropdown .dropdown-menu li:hover {
    background-color: var(--bg-color);
}

.dropdown .dropdown-menu li a {
    color: var(--text);
    font-size: 14px;
}

.dropdown .dropdown-menu li > i {
    margin-right: 14px;
    font-size: 16px;
    color: var(--text);
}

.user-group .dropdown > i {
    font-size: 16px; 
    position: relative; 
    top: -2px;
}

/* SECTION MAIN */
.main {
    margin-top: 80px;
    padding: 20px 20px;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-color);
}

.main-left {
    order: 1;
    width: calc(27.5% - 30px);
    display: flex;
    flex-direction: column;
    background-color: white;
    height: fit-content;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
    position: fixed;
}

.main-left h3 {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 20px;
    padding: 16px;
    border-bottom: 1px solid var(--border-color);
}

.main-left .main-left-item {
    padding: 16px;
    font-size: 16px;
    letter-spacing: 0.4px;
    font-weight: 400;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.main-left .main-left-item.active {
    border-left: 3px solid var(--text-color);
    background-color: var(--bg-color);
}

.main-left .main-left-item i {
    margin-right: 12px;
    font-size: 14px;
}

.main-right {
    order: 3;
    position: fixed;
    right: 20px;
    width: calc(27.5% - 30px);
    display: flex;
    flex-direction: column;
    background-color: white;
    height: fit-content;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
    z-index: 0;
}

.main-right .main-right-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid var(--border-color);
}

.main-right .main-right-header span:first-child {
    font-size: 20px;
    font-weight: 600;
}

.main-right .main-right-header span:last-child a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: var(--text-color);
}

.main-right .main-right-list {
    max-height: 75vh;
    overflow-y: auto;
}

.main-right-list::-webkit-scrollbar {
    width: 4px;
}

.main-right .notification {
    padding: 18px;
    font-size: 16px;
    letter-spacing: 0.4px;
    font-weight: 400;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
    transition: all linear 0.2s;
    transition-delay: 0.05s;
}

.main-right .notification:hover {
    background-color: var(--bg-color);
}

.notification-detail {
    font-style: italic;
    font-size: 14px;
}

.notification-title {
    font-size: 16px;
    font-weight: 500;
}

.main-center {
    order: 2;
    width: 45%;
    margin-left: calc(27.5% + 30px);
    margin-right: calc(27.5%  + 30px);
}

.main-center-item {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 16px;
}

.add-post .main-center-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-post .main-center-item input {
    width: 90%;
    padding: 8px 18px;
    outline: none;
    border-radius: 30px;
    border: 1px solid var(--border-color);
    font-size: 16px;
}

.main-center .add-post .main-center-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
}

.post .post-top {
    display: flex;
    align-items: center;
    position: relative;
}

.post .post-top .name-group {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    height: 38px;
}

.post .post-top .name {
    font-size: 15px;
    font-weight: 600;
}

.post .post-top .time {
    font-size: 13px;
    font-weight: 500;
    color: var(--secondary-color);
}

.post .post-top .action {
    position: absolute;
    right: 0;
    padding: 6px 8.5px;
    cursor: pointer;
    border-radius: 50%;
    user-select: none;
}

.action.active {
    background-color: var(--bg-color);
}

.post .post-top .action .action-dropdown {
    display: none;
    position: absolute;
    padding: 6px;
    border-radius: 3px;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.05);
    top: 44px;
    right: 0;
}

.action.active .action-dropdown {
    display: block !important;
}

.action-dropdown-item {
    padding: 10px 14px;
    border-radius: 3px;
    transition: all 0.2s;
    transition-delay: 0.05s;
    font-size: 15px;
}

.action-dropdown-item:hover {
    background-color: var(--bg-color);
}

.post .post-top .action i {
    font-size: 15px;
    margin-right: 4px;
    color: var(--text-color);
    position: relative;
    right: -2px;
}

.post .post-main {
    padding: 12px 0;
    border-bottom: 1px solid var(--border-color);
}

.post .post-main .content {
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    word-wrap: break-word;
}

.post .post-main .content div {
    margin-bottom: 10px;
}

.post .post-main .content .post-image img {
    width: 100%;
    object-fit: cover;
}

.post .post-main .info {
    font-size: 15px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.post .post-main .info div {
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    color: var(--text-color);
}

.post .post-main .info .like i {
    color: var(--blue-active);
}

.post .post-bottom {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.post-bottom .react-btn {
    cursor: pointer;
    padding: 8px 36px;
    border-radius: 10px;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    transition: ease 0.2s;
    transition-delay: 0.05s;
    user-select: none;
}

.post-bottom .react-btn i {
    margin-right: 6px;
}

.react-btn .fa-thumbs-up.active {
    color: var(--blue-active);
}

.post-bottom .react-btn:hover {
    background-color: var(--bg-color);
}

.post-bottom .comment-btn i {
    margin-right: 8px;
    position: relative;
    bottom: -2px;
    font-size: 14px;
}

.post-bottom .comment-btn {
    margin-left: 16px;
}

/* COMMENT */
.comment-area {
    border-top: 1px solid var(--border-color);
    padding: 10px 0;
    display: none;
}

.comment-area .comment-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-area .comment-box .comment-form {
    width: 91%;
    position: relative;
}

.comment-area .comment-box .comment-form input:first-child {
    width: 100%;
    padding: 6px 16px;
    outline: none;
    border-radius: 30px;
    border: 1px solid var(--border-color);
    font-size: 15px;
}

.comment-area .comment-box .comment-form label {
    position: absolute;
    right: 20px;
    top: calc(50% - 12px);
    cursor: pointer;
}

.comment-area .comment-list {
    padding: 10px 0;
}   

.comment-list .comment {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 6px 0;
}

.comment-list .comment .content {
    padding: 10px;
    border-radius: 14px;
    background-color: var(--bg-color);
    width: 91%;
}

.comment-list .comment .content .name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment-list .comment .content .name span:first-child {
    font-weight: 600;
}

.comment-list .comment .content .name span:last-child {
    font-weight: 500;
    font-size: 13px;
    user-select: none;
    color: var(--secondary-color);
}

.comment-list .comment .content .description div {
    font-size: 15px;
    font-weight: 400;
    margin-top: 4px;
    word-wrap: break-word;
    margin-bottom: 10px;
}

.comment-list .comment .content .description img {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.more-comment {
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.more-comment:hover {
    text-decoration: underline;
}

#error-add-post, #error-edit-profile {
    visibility: hidden;
}

.modal-header {
    justify-content: flex-start;
    align-items: center;
}

.modal-header b {
    font-size: 18px;
}

.modal-body button, .modal-footer button {
    padding: 6px 32px;
}

.modal-body button:first-child {
    margin-right: 10px;
}

.like-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.like-list a {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    color: var(--text-color);
}

.like-list a span {
    font-weight: 600;
}

.like-list i {
    color: var(--blue-active);
}

.modal-body {
    max-height: 65vh;
    overflow-y: auto;
    user-select: none;
}

.media-label {
    display: block;
    width: 100%;
}

.media-image, .media-video {
    display: none;
}

/* PROFILE */
.profile {
    display: flex;
    flex-direction: column;
    background-color: #fff !important;
}

.profile .bg-top {
    background-image: url("coding.jfif");
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 220px;
    display: block;
    position: relative;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.profile-content {
    position: relative;
    top: -30px;
    margin: 0 14px;
    border-radius: 5px;
    box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    user-select: none;
}

.profile-content .avatar {
    position: absolute;
    left: calc(50% - 70px);
    top: -70px;
    width: 140px;
    height: 140px;
}

.profile-content .avatar img {
    background-color: #fff;
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 0 4px 6px rgba(0, 0, 0, 0.05);
}

.profile-content .avatar label {
    background-color: #fff;
    border-radius: 50%;
    padding: 6px 10px;
    cursor: pointer;
    position: absolute;
    bottom: -4px;
    right: 4px;
    box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.05);
}

.profile-content .avatar label i {
    font-size: 16px;
    color: var(--text-color);
}

.profile-form {
    border-radius: 5px;
    margin: 90px 20px 15px 20px;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.profile-form .profile-form-info {
    display: block;
    width: 100%;
    padding: 6px 0;
    font-size: 15px;
}

#user-image {
    display: none;
}

.profile .btn {
    max-width: 330px;
    min-width: 200px;
    display: block;
    margin: 0 auto;
}

.nav-ipad {
    cursor: pointer;
    margin-right: 20px;
    display: none;
    color: var(--text-color);
    user-select: none;
}

.nav-ipad > i {  
    font-size: 26px;
}

.nav-ipad-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
    cursor: default;
    display: none;
    opacity: 0;
    animation: fadeIn 0.2s;
    height: 100vh;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* 1024 -> 1199px  */
@media only screen and (min-width: 64em) and (max-width: 74.9375em) {
    .main-left h3, .main-right .main-right-header span:first-child {
        font-size: 18px;
    }

    .main-right .main-right-header span:last-child a {
        font-size: 15px;
    }

    .main-center {
        margin: 0 27.5%;
    }
    
}

/* Mobile and Ipad */
@media only screen and (max-width: 63.9375em) {
    /* Nav */
    .nav-ipad {
        display: block;
    }

    .logo {
        display: none;
    }

    .nav-ipad-container {
        background-color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 99;
        width: 320px;
        max-width: 75%;
        height: 100vh;
        cursor: default;
        padding: 10px;
        opacity: 0;
        transform: translateX(-100%);
        transition: all linear 0.2s;
    }

    .nav-ipad-user {
        padding: 20px 0 40px 20px;
    }

    .nav-ipad-item {
        padding: 16px 10px;
        cursor: pointer;
        border-radius: 5px;
        transition: all linear 0.2s;
        transition-delay: 0.05s;
    }

    .nav-ipad-item:hover {
        background-color: var(--bg-color);
    }

    .nav-ipad-item i {
        margin-right: 4px;
    }

    .nav-ipad-user img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
        user-select: none;
    }
    .main-left {
        display: none;
    }

    .main-center {
        margin-left: 0;
        width: 60%;
    }

    .main-right {
        width: calc(40% - 30px);
    }
}

/* MOBILE < 740px*/
@media only screen and (max-width: 46.1875em) {
    .main-right {
        display: none;
    }

    .main-center {
        width: 100%;
        margin-right: 0;
    }
    
    .nav-right {
        display: none;
    }

}

@media only screen and (max-width : 389px)  {
    .post-bottom {
        justify-content: space-between;
    }

    .post-bottom .react-btn {
        padding: 8px 22px;
    }

    .comment-list .comment .content .description img {
        max-width: 260px;
        max-height: 260px;
        object-fit: cover;
    }
}


